<div class="content-inner-left">

      <!-- Sticky Post with Featured Slider -->
    
      <!-- Post with Featured Image -->
      <article class="sticky blog-post">
        <div class="blog-post-content">

          <!-- Featured Image -->
          
          <h1 class="blog-post-title"><a href="#" title="Paginated Post">{{ page.title }}</a></h1>
          <div class="blog-post-meta">
            <span>20/06/2014</span> | 
            Comments: <a href="#" title="0">0</a> | 
            Posted by: 李思 | 
            In: <a href="#" title="Others" rel="category tag">Others</a>, <a href="#" title="Test" rel="category tag">Test</a>
          </div>
          <p>
            {{ content }}
          </p>
        </div>
      </article>
      <!-- Pagination -->
      <div class="pagination">
        <div class="nav-previous">
          <a href="#">« Older posts</a>
        </div>
        <div class="nav-next"></div>
      </div>
      <!-- Pagination End -->

    </div>