<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>李思_壹玖捌柒's Blog</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/customer.css">
    <link rel="stylesheet" href="javascripts/google-code-prettify/prettify.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>李思_壹玖捌柒's Blog</h2>
        <p>lisi1987&#39;s blog</p>

        <p class="view"><a href="https://github.com/lisi1987">View My GitHub Profile</a></p>

      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        <p><small>© 2014 - 本站由 <a>@李思_壹玖捌柒</a> 创建  <br/>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/google-code-prettify/prettify.js"></script>
    <script type="text/javascript">
    $(window).load(function(){
     $("pre").addClass("prettyprint ");
     prettyPrint();
    })
    </script>
  </body>
</html>